body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #c2652e;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}

.mesa-form {
    margin-bottom: 20px;
}

.mesa {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
}

.qrCodeContainer {
    margin-top: 10px;
    text-align: center;
}

button {
    background-color: #c2652e;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a15323;
}
